<%= form_with(model: post, local: true)do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group col-md-5">
    <%= form.label :title, 'Title'%>
    <%= form.text_field :title, class: "form-control", placeholder: "Enter title" %>
  </div>
  <div class="form-group col-md-5">
    <%= form.label :image, 'Image'%>
    <%= form.file_field :image, class: "form-control"%> 
  </div>
  <div class="form-group col-md-5">
    <%= form.label :description, 'Description'%>
    <%= form.text_area :description, class: "form-control",placeholder: "Enter description"%>
  </div>
  <%= form.submit 'Submit',  class: "btn btn-primary actions" %>
<% end %>
