<% provide(:page_title, '_All Post_') %>

<p id="notice"><%= notice %></p>

<div class="row">
<% @posts.each do |post| %>
  <div class="card" style="width: 18rem;">
    <div class="flip-card">
      <div class="flip-card-inner">
        <div class="flip-card-front">
          <%= image_tag(post.image, class: 'list_image') %>
        </div>
        <div class="flip-card-back">
          <h4><%= post.title %></h4> 
          <p><%= post.created_at %></p> 
        </div>
      </div>
    </div>
    <p class="title"><%= post.title %></p>
    <div>
      <a href="#"><i class="fa fa-dribbble"></i></a> 
      <a href="#"><i class="fa fa-twitter"></i></a>  
      <a href="#"><i class="fa fa-linkedin"></i></a>  
      <a href="#"><i class="fa fa-facebook"></i></a> 
    </div>
    <button>
      <i class="fa fa-eye">  <%= post.impressionist_count%> </i>
      <i class="fa fa-comment"> <%= post.comments.count%> </i>
      <i class="fa fa-info-circle" class="btn btn-primary"> <%= link_to 'Show', post %> </i>
    </button>
  </div>
  <% end %>
</div>

<nav>
  <ul class="pagination pg-teal">
    <li><%= will_paginate @posts, class: "page-link page-item"%></li>
  </ul>
</nav>